*{
margin: 0;
}

html{
    width: 100%;
}

header{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: brown;
    align-items: center;
    padding-left: 10px;
    width: 100%;
}

header > nav {
    position: fixed;
    right: 0;   
    background-color: aqua;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header > nav > ul > li {
    margin-left: 20px;
    margin-right: 20px;
}

main{
    background-color: rgb(156, 156, 156);
    height: 100vh;
}

footer{
    position: fixed;
    bottom: 0;

}
